In [98]:
import pandas as pd
import pickle
from typing import List

class DataPrep:

    df: pd.DataFrame
    metadata: str
    col_names: List[str]

    def __init__(self, data_path: str):
        self.data_path = data_path
        self.inhale_metadata()

    def create_dataframe(self, print_=False):
        self.df = pd.read_csv(self.data_path, header=None)
        if print_:
            print(self.df.head(3))

    def inhale_metadata(self):
        with open('./census_data/census_income_metadata.txt', 'r') as f:
            self.metadata = f.read()

    def get_col_names(self, print_=False):
        self.col_names = [attr.split(':')[0] for attr in self.metadata.split('- 50000, 50000+.')[1].strip().split('\n')]
        self.col_names.remove('| instance weight'), self.col_names.append('target')
        if print_:
            print(self.col_names)

    def set_col_names(self, print_=False):
        self.df.columns = self.col_names
        if print_:
            print(self.df.head())

    def feature_engineering(self):
        """metadata indicated this feature should be dropped"""
        self.df.drop('instance weight', axis=1, inplace=True)

        """a single individual can't have both a capital gain AND a capital loss so condense those"""
        self.df['capital_change'] = self.df['capital gains'] - self.df['capital losses']
        self.df.drop(['capital gains', 'capital losses'], axis=1, inplace=True)

        """replace the target feature string values with integers"""
        self.df['target'].replace({' - 50000.': -1, ' 50000+.': 1}, inplace=True)

    def get_val_counts(self, cols: List[str]=None):
        if cols is None: cols = self.df.columns
        for col in cols:
                print(f'{col}: \n{self.df[col].value_counts()}\n')

    def apply_all(self, filename: str): #####TODO: add all methods to this method
        self.create_dataframe()
        if self.metadata is None: self.inhale_metadata()
        self.get_col_names()
        self.set_col_names()

        self.pickle_data(filename)


    def pickle_data(self, filename: str):
        with open(f'./pickles/{filename}.obj', 'wb') as f:
            pickle.dump(self.df, f)

In [99]:
train_data = DataPrep('./census_data/census_income_learn.csv')

In [100]:
train_data.create_dataframe(print_=True)

   0                                1   2   3                            4   \
0  73                  Not in universe   0   0         High school graduate
1  58   Self-employed-not incorporated   4  34   Some college but no degree
2  18                  Not in universe   0   0                   10th grade

   5                 6               7                             8   \
0   0   Not in universe         Widowed   Not in universe or children
1   0   Not in universe        Divorced                  Construction
2   0       High school   Never married   Not in universe or children

                                     9   ...              32              33  \
0                       Not in universe  ...   United-States   United-States
1   Precision production craft & repair  ...   United-States   United-States
2                       Not in universe  ...         Vietnam         Vietnam

               34                                    35 36                37  \
0   United-States     Native- Born in the United States  0   Not in universe
1   United-States     Native- Born in the United States  0   Not in universe
2         Vietnam   Foreign born- Not a citizen of U S   0   Not in universe

   38  39  40         41
0   2   0  95   - 50000.
1   2  52  94   - 50000.
2   2   0  95   - 50000.

[3 rows x 42 columns]

In [101]:
train_data.inhale_metadata()
train_data.get_col_names(print_=True)

['age', 'class of worker', 'detailed industry recode', 'detailed occupation recode', 'education', 'wage per hour', 'enroll in edu inst last wk', 'marital stat', 'major industry code', 'major occupation code', 'race', 'hispanic origin', 'sex', 'member of a labor union', 'reason for unemployment', 'full or part time employment stat', 'capital gains', 'capital losses', 'dividends from stocks', 'tax filer stat', 'region of previous residence', 'state of previous residence', 'detailed household and family stat', 'detailed household summary in household', 'instance weight', 'migration code-change in msa', 'migration code-change in reg', 'migration code-move within reg', 'live in this house 1 year ago', 'migration prev res in sunbelt', 'num persons worked for employer', 'family members under 18', 'country of birth father', 'country of birth mother', 'country of birth self', 'citizenship', 'own business or self employed', "fill inc questionnaire for veteran's admin", 'veterans benefits', 'weeks worked in year', 'year', 'target']

In [102]:
train_data.set_col_names(print_=True)

   age                  class of worker  detailed industry recode  \
0   73                  Not in universe                         0
1   58   Self-employed-not incorporated                         4
2   18                  Not in universe                         0
3    9                  Not in universe                         0
4   10                  Not in universe                         0

   detailed occupation recode                    education  wage per hour  \
0                           0         High school graduate              0
1                          34   Some college but no degree              0
2                           0                   10th grade              0
3                           0                     Children              0
4                           0                     Children              0

  enroll in edu inst last wk    marital stat           major industry code  \
0            Not in universe         Widowed   Not in universe or children
1            Not in universe        Divorced                  Construction
2                High school   Never married   Not in universe or children
3            Not in universe   Never married   Not in universe or children
4            Not in universe   Never married   Not in universe or children

                  major occupation code  ... country of birth father  \
0                       Not in universe  ...           United-States
1   Precision production craft & repair  ...           United-States
2                       Not in universe  ...                 Vietnam
3                       Not in universe  ...           United-States
4                       Not in universe  ...           United-States

  country of birth mother country of birth self  \
0           United-States         United-States
1           United-States         United-States
2                 Vietnam               Vietnam
3           United-States         United-States
4           United-States         United-States

                            citizenship own business or self employed  \
0     Native- Born in the United States                             0
1     Native- Born in the United States                             0
2   Foreign born- Not a citizen of U S                              0
3     Native- Born in the United States                             0
4     Native- Born in the United States                             0

  fill inc questionnaire for veteran's admin  veterans benefits  \
0                            Not in universe                  2
1                            Not in universe                  2
2                            Not in universe                  2
3                            Not in universe                  0
4                            Not in universe                  0

   weeks worked in year  year     target
0                     0    95   - 50000.
1                    52    94   - 50000.
2                     0    95   - 50000.
3                     0    94   - 50000.
4                     0    94   - 50000.

[5 rows x 42 columns]

In [103]:
train_data.feature_engineering()

In [104]:
train_data.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 40 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   age                                         199523 non-null  int64
 1   class of worker                             199523 non-null  object
 2   detailed industry recode                    199523 non-null  int64
 3   detailed occupation recode                  199523 non-null  int64
 4   education                                   199523 non-null  object
 5   wage per hour                               199523 non-null  int64
 6   enroll in edu inst last wk                  199523 non-null  object
 7   marital stat                                199523 non-null  object
 8   major industry code                         199523 non-null  object
 9   major occupation code                       199523 non-null  object
 10  race                                        199523 non-null  object
 11  hispanic origin                             199523 non-null  object
 12  sex                                         199523 non-null  object
 13  member of a labor union                     199523 non-null  object
 14  reason for unemployment                     199523 non-null  object
 15  full or part time employment stat           199523 non-null  object
 16  dividends from stocks                       199523 non-null  int64
 17  tax filer stat                              199523 non-null  object
 18  region of previous residence                199523 non-null  object
 19  state of previous residence                 199523 non-null  object
 20  detailed household and family stat          199523 non-null  object
 21  detailed household summary in household     199523 non-null  object
 22  migration code-change in msa                199523 non-null  object
 23  migration code-change in reg                199523 non-null  object
 24  migration code-move within reg              199523 non-null  object
 25  live in this house 1 year ago               199523 non-null  object
 26  migration prev res in sunbelt               199523 non-null  object
 27  num persons worked for employer             199523 non-null  int64
 28  family members under 18                     199523 non-null  object
 29  country of birth father                     199523 non-null  object
 30  country of birth mother                     199523 non-null  object
 31  country of birth self                       199523 non-null  object
 32  citizenship                                 199523 non-null  object
 33  own business or self employed               199523 non-null  int64
 34  fill inc questionnaire for veteran's admin  199523 non-null  object
 35  veterans benefits                           199523 non-null  int64
 36  weeks worked in year                        199523 non-null  int64
 37  year                                        199523 non-null  int64
 38  target                                      199523 non-null  int64
 39  capital_change                              199523 non-null  int64
dtypes: int64(12), object(28)
memory usage: 60.9+ MB

In [105]:
train_data.get_val_counts()

age:
34    3489
35    3450
36    3353
31    3351
33    3340
      ...
85     423
86     348
87     301
88     241
89     195
Name: age, Length: 91, dtype: int64

class of worker:
 Not in universe                   100245
 Private                            72028
 Self-employed-not incorporated      8445
 Local government                    7784
 State government                    4227
 Self-employed-incorporated          3265
 Federal government                  2925
 Never worked                         439
 Without pay                          165
Name: class of worker, dtype: int64

detailed industry recode:
0     100684
33     17070
43      8283
4       5984
42      4683
45      4482
29      4209
37      4022
41      3964
32      3596
35      3380
39      2937
34      2765
44      2549
2       2196
11      1764
50      1704
40      1651
47      1644
38      1629
24      1503
12      1350
19      1346
30      1181
31      1178
25      1084
9        993
22       952
36       945
13       899
1        827
48       652
27       626
49       610
3        563
21       559
6        554
5        553
8        550
16       539
23       525
18       483
15       452
7        422
14       295
46       187
17       157
28       143
26       127
51        36
20        32
10         4
Name: detailed industry recode, dtype: int64

detailed occupation recode:
0     100684
2       8756
26      7887
19      5413
29      5105
36      4145
34      4025
10      3683
16      3445
23      3392
12      3340
33      3325
3       3195
35      3168
38      3003
31      2699
32      2398
37      2234
8       2151
42      1918
30      1897
24      1847
17      1771
28      1661
41      1592
44      1592
43      1382
4       1364
13      1271
18      1083
39      1017
14       932
5        855
15       815
27       780
25       767
9        738
7        731
11       637
40       617
1        544
21       533
6        441
22       411
45       172
20        71
46        36
Name: detailed occupation recode, dtype: int64

education:
 High school graduate                      48407
 Children                                  47422
 Some college but no degree                27820
 Bachelors degree(BA AB BS)                19865
 7th and 8th grade                          8007
 10th grade                                 7557
 11th grade                                 6876
 Masters degree(MA MS MEng MEd MSW MBA)     6541
 9th grade                                  6230
 Associates degree-occup /vocational        5358
 Associates degree-academic program         4363
 5th or 6th grade                           3277
 12th grade no diploma                      2126
 1st 2nd 3rd or 4th grade                   1799
 Prof school degree (MD DDS DVM LLB JD)     1793
 Doctorate degree(PhD EdD)                  1263
 Less than 1st grade                         819
Name: education, dtype: int64

wage per hour:
0       188219
500        734
600        546
700        534
800        507
         ...
1199         1
8600         1
1862         1
2299         1
1092         1
Name: wage per hour, Length: 1240, dtype: int64

enroll in edu inst last wk:
 Not in universe          186943
 High school                6892
 College or university      5688
Name: enroll in edu inst last wk, dtype: int64

marital stat:
 Never married                      86485
 Married-civilian spouse present    84222
 Divorced                           12710
 Widowed                            10463
 Separated                           3460
 Married-spouse absent               1518
 Married-A F spouse present           665
Name: marital stat, dtype: int64

major industry code:
 Not in universe or children            100684
 Retail trade                            17070
 Manufacturing-durable goods              9015
 Education                                8283
 Manufacturing-nondurable goods           6897
 Finance insurance and real estate        6145
 Construction                             5984
 Business and repair services             5651
 Medical except hospital                  4683
 Public administration                    4610
 Other professional services              4482
 Transportation                           4209
 Hospital services                        3964
 Wholesale trade                          3596
 Agriculture                              3023
 Personal services except private HH      2937
 Social services                          2549
 Entertainment                            1651
 Communications                           1181
 Utilities and sanitary services          1178
 Private household services                945
 Mining                                    563
 Forestry and fisheries                    187
 Armed Forces                               36
Name: major industry code, dtype: int64

major occupation code:
 Not in universe                          100684
 Adm support including clerical            14837
 Professional specialty                    13940
 Executive admin and managerial            12495
 Other service                             12099
 Sales                                     11783
 Precision production craft & repair       10518
 Machine operators assmblrs & inspctrs      6379
 Handlers equip cleaners etc                4127
 Transportation and material moving         4020
 Farming forestry and fishing               3146
 Technicians and related support            3018
 Protective services                        1661
 Private household services                  780
 Armed Forces                                 36
Name: major occupation code, dtype: int64

race:
 White                          167365
 Black                           20415
 Asian or Pacific Islander        5835
 Other                            3657
 Amer Indian Aleut or Eskimo      2251
Name: race, dtype: int64

hispanic origin:
 All other                    171907
 Mexican-American               8079
 Mexican (Mexicano)             7234
 Central or South American      3895
 Puerto Rican                   3313
 Other Spanish                  2485
 Cuban                          1126
 NA                              874
 Do not know                     306
 Chicano                         304
Name: hispanic origin, dtype: int64

sex:
 Female    103984
 Male       95539
Name: sex, dtype: int64

member of a labor union:
 Not in universe    180459
 No                  16034
 Yes                  3030
Name: member of a labor union, dtype: int64

reason for unemployment:
 Not in universe          193453
 Other job loser            2038
 Re-entrant                 2019
 Job loser - on layoff       976
 Job leaver                  598
 New entrant                 439
Name: reason for unemployment, dtype: int64

full or part time employment stat:
 Children or Armed Forces              123769
 Full-time schedules                    40736
 Not in labor force                     26808
 PT for non-econ reasons usually FT      3322
 Unemployed full-time                    2311
 PT for econ reasons usually PT          1209
 Unemployed part- time                    843
 PT for econ reasons usually FT           525
Name: full or part time employment stat, dtype: int64

dividends from stocks:
0        178382
100        1148
500        1030
1000        894
200         866
          ...
2746          1
116           1
12173         1
3896          1
7958          1
Name: dividends from stocks, Length: 1478, dtype: int64

tax filer stat:
 Nonfiler                        75094
 Joint both under 65             67383
 Single                          37421
 Joint both 65+                   8332
 Head of household                7426
 Joint one under 65 & one 65+     3867
Name: tax filer stat, dtype: int64

region of previous residence:
 Not in universe    183750
 South                4889
 West                 4074
 Midwest              3575
 Northeast            2705
 Abroad                530
Name: region of previous residence, dtype: int64

state of previous residence:
 Not in universe         183750
 California                1714
 Utah                      1063
 Florida                    849
 North Carolina             812
 ?                          708
 Abroad                     671
 Oklahoma                   626
 Minnesota                  576
 Indiana                    533
 North Dakota               499
 New Mexico                 463
 Michigan                   441
 Alaska                     290
 Kentucky                   244
 Arizona                    243
 New Hampshire              242
 Wyoming                    241
 Colorado                   239
 Oregon                     236
 West Virginia              231
 Georgia                    227
 Montana                    226
 Alabama                    216
 Ohio                       211
 Texas                      209
 Arkansas                   205
 Mississippi                204
 Tennessee                  202
 Pennsylvania               199
 New York                   195
 Louisiana                  192
 Vermont                    191
 Iowa                       189
 Illinois                   180
 Nebraska                   178
 Missouri                   175
 Nevada                     174
 Maine                      167
 Massachusetts              151
 Kansas                     149
 South Dakota               138
 Maryland                   136
 Virginia                   126
 Connecticut                117
 District of Columbia       116
 Wisconsin                  105
 South Carolina              95
 New Jersey                  75
 Delaware                    73
 Idaho                       31
Name: state of previous residence, dtype: int64

detailed household and family stat:
 Householder                                        53248
 Child <18 never marr not in subfamily              50326
 Spouse of householder                              41695
 Nonfamily householder                              22213
 Child 18+ never marr Not in a subfamily            12030
 Secondary individual                                6122
 Other Rel 18+ ever marr not in subfamily            1956
 Grandchild <18 never marr child of subfamily RP     1868
 Other Rel 18+ never marr not in subfamily           1728
 Grandchild <18 never marr not in subfamily          1066
 Child 18+ ever marr Not in a subfamily              1013
 Child under 18 of RP of unrel subfamily              732
 RP of unrelated subfamily                            685
 Child 18+ ever marr RP of subfamily                  671
 Other Rel <18 never marr child of subfamily RP       656
 Other Rel 18+ ever marr RP of subfamily              656
 Other Rel 18+ spouse of subfamily RP                 638
 Child 18+ never marr RP of subfamily                 589
 Other Rel <18 never marr not in subfamily            584
 Grandchild 18+ never marr not in subfamily           375
 In group quarters                                    196
 Child 18+ spouse of subfamily RP                     126
 Other Rel 18+ never marr RP of subfamily              94
 Child <18 never marr RP of subfamily                  80
 Spouse of RP of unrelated subfamily                   52
 Child <18 ever marr not in subfamily                  36
 Grandchild 18+ ever marr not in subfamily             34
 Grandchild 18+ spouse of subfamily RP                 10
 Child <18 ever marr RP of subfamily                    9
 Grandchild 18+ ever marr RP of subfamily               9
 Grandchild 18+ never marr RP of subfamily              6
 Other Rel <18 ever marr RP of subfamily                6
 Other Rel <18 never married RP of subfamily            4
 Other Rel <18 spouse of subfamily RP                   3
 Child <18 spouse of subfamily RP                       2
 Grandchild <18 never marr RP of subfamily              2
 Grandchild <18 ever marr not in subfamily              2
 Other Rel <18 ever marr not in subfamily               1
Name: detailed household and family stat, dtype: int64

detailed household summary in household:
 Householder                             75475
 Child under 18 never married            50426
 Spouse of householder                   41709
 Child 18 or older                       14430
 Other relative of householder            9703
 Nonrelative of householder               7601
 Group Quarters- Secondary individual      132
 Child under 18 ever married                47
Name: detailed household summary in household, dtype: int64

migration code-change in msa:
 ?                   99696
 Nonmover            82538
 MSA to MSA          10601
 NonMSA to nonMSA     2811
 Not in universe      1516
 MSA to nonMSA         790
 NonMSA to MSA         615
 Abroad to MSA         453
 Not identifiable      430
 Abroad to nonMSA       73
Name: migration code-change in msa, dtype: int64

migration code-change in reg:
 ?                                 99696
 Nonmover                          82538
 Same county                        9812
 Different county same state        2797
 Not in universe                    1516
 Different region                   1178
 Different state same division       991
 Abroad                              530
 Different division same region      465
Name: migration code-change in reg, dtype: int64

migration code-move within reg:
 ?                               99696
 Nonmover                        82538
 Same county                      9812
 Different county same state      2797
 Not in universe                  1516
 Different state in South          973
 Different state in West           679
 Different state in Midwest        551
 Abroad                            530
 Different state in Northeast      431
Name: migration code-move within reg, dtype: int64

live in this house 1 year ago:
 Not in universe under 1 year old    101212
 Yes                                  82538
 No                                   15773
Name: live in this house 1 year ago, dtype: int64

migration prev res in sunbelt:
 ?                  99696
 Not in universe    84054
 No                  9987
 Yes                 5786
Name: migration prev res in sunbelt, dtype: int64

num persons worked for employer:
0    95983
6    36511
1    23109
4    14379
3    13425
2    10081
5     6035
Name: num persons worked for employer, dtype: int64

family members under 18:
 Not in universe           144232
 Both parents present       38983
 Mother only present        12772
 Father only present         1883
 Neither parent present      1653
Name: family members under 18, dtype: int64

country of birth father:
 United-States                   159163
 Mexico                           10008
 ?                                 6713
 Puerto-Rico                       2680
 Italy                             2212
 Canada                            1380
 Germany                           1356
 Dominican-Republic                1290
 Poland                            1212
 Philippines                       1154
 Cuba                              1125
 El-Salvador                        982
 China                              856
 England                            793
 Columbia                           614
 India                              580
 South Korea                        530
 Ireland                            508
 Jamaica                            463
 Vietnam                            457
 Guatemala                          445
 Japan                              392
 Portugal                           388
 Ecuador                            379
 Haiti                              351
 Greece                             344
 Peru                               335
 Nicaragua                          315
 Hungary                            306
 Scotland                           247
 Iran                               233
 Yugoslavia                         217
 Taiwan                             199
 Cambodia                           196
 Honduras                           194
 France                             191
 Outlying-U S (Guam USVI etc)       159
 Laos                               154
 Trinadad&Tobago                    113
 Thailand                           107
 Hong Kong                          106
 Holand-Netherlands                  51
 Panama                              25
Name: country of birth father, dtype: int64

country of birth mother:
 United-States                   160479
 Mexico                            9781
 ?                                 6119
 Puerto-Rico                       2473
 Italy                             1844
 Canada                            1451
 Germany                           1382
 Philippines                       1231
 Poland                            1110
 El-Salvador                       1108
 Cuba                              1108
 Dominican-Republic                1103
 England                            903
 China                              760
 Columbia                           612
 South Korea                        609
 Ireland                            599
 India                              581
 Vietnam                            473
 Japan                              469
 Jamaica                            453
 Guatemala                          444
 Ecuador                            375
 Peru                               355
 Haiti                              353
 Portugal                           342
 Nicaragua                          301
 Hungary                            297
 Greece                             261
 Scotland                           241
 Taiwan                             222
 Honduras                           218
 France                             212
 Iran                               198
 Yugoslavia                         177
 Cambodia                           157
 Outlying-U S (Guam USVI etc)       157
 Laos                               155
 Thailand                           123
 Hong Kong                          107
 Trinadad&Tobago                     99
 Holand-Netherlands                  49
 Panama                              32
Name: country of birth mother, dtype: int64

country of birth self:
 United-States                   176989
 Mexico                            5767
 ?                                 3393
 Puerto-Rico                       1400
 Germany                            851
 Philippines                        845
 Cuba                               837
 Canada                             700
 Dominican-Republic                 690
 El-Salvador                        689
 China                              478
 South Korea                        471
 England                            457
 Columbia                           434
 Italy                              419
 India                              408
 Vietnam                            391
 Poland                             381
 Guatemala                          344
 Japan                              339
 Jamaica                            320
 Peru                               268
 Ecuador                            258
 Haiti                              228
 Nicaragua                          218
 Taiwan                             201
 Portugal                           174
 Iran                               157
 Greece                             147
 Honduras                           144
 Ireland                            135
 France                             121
 Outlying-U S (Guam USVI etc)       119
 Thailand                           113
 Laos                               105
 Hong Kong                          100
 Cambodia                            95
 Hungary                             79
 Scotland                            75
 Trinadad&Tobago                     66
 Yugoslavia                          66
 Panama                              28
 Holand-Netherlands                  23
Name: country of birth self, dtype: int64

citizenship:

In [107]:
# train_data.pickle_data('df_train')

In [108]:
# test_data = DataPrep('./census_data/census_income_test.csv')
# test_data.apply_all('df_test')