In [48]:
import os
import pandas as pd
import pickle
from typing import List, Union
from sklearn.preprocessing import StandardScaler, LabelEncoder
from category_encoders.target_encoder import TargetEncoder
from category_encoders.one_hot import OneHotEncoder
import warnings
warnings.filterwarnings("ignore")

class DataPrep:

    df: pd.DataFrame
    metadata: str
    col_names: List[str]
    cols_to_scale: List[str] = ['age', 'wage per hour', 'dividends from stocks', 'weeks worked in year', 'capital_change']
    cols_to_encode: List[str] = ['class of worker', 'detailed industry recode', 'detailed occupation recode', 'education', 'enroll in edu inst last wk', 'marital stat', 'major industry code', 'major occupation code', 'race', 'hispanic origin', 'sex', 'member of a labor union', 'reason for unemployment', 'full or part time employment stat', 'tax filer stat', 'region of previous residence', 'state of previous residence', 'detailed household and family stat', 'detailed household summary in household', 'migration code-change in msa', 'migration code-change in reg', 'migration code-move within reg', 'live in this house 1 year ago', 'migration prev res in sunbelt', 'num persons worked for employer', 'family members under 18', 'country of birth father', 'country of birth mother', 'country of birth self', 'citizenship', 'own business or self employed', "fill inc questionnaire for veteran's admin", 'veterans benefits', 'year']

    def __init__(self, data_path: str):
        self.data_path = data_path
        self.inhale_metadata()

    def create_dataframe(self, print_=False):
        self.df = pd.read_csv(self.data_path, header=None)
        if print_:
            print(self.df.head(3))

    def inhale_metadata(self):
        with open('./census_data/census_income_metadata.txt', 'r') as f:
            self.metadata = f.read()

    def get_col_names(self, print_=False):
        self.col_names = [attr.split(':')[0] for attr in self.metadata.split('- 50000, 50000+.')[1].strip().split('\n')]
        self.col_names.remove('| instance weight'), self.col_names.append('target')
        if print_:
            print(self.col_names)

    def set_col_names(self, print_=False):
        self.df.columns = self.col_names
        if print_:
            print(self.df.head())

    def feature_engineering(self):
        """metadata indicated this feature should be dropped"""
        self.df.drop('instance weight', axis=1, inplace=True)

        """a single individual can't have both a capital gain AND a capital loss so condense those"""
        self.df['capital_change'] = self.df['capital gains'] - self.df['capital losses']
        self.df.drop(['capital gains', 'capital losses'], axis=1, inplace=True)

        """replace the target feature string values with integers"""
        self.df['target'].replace({' - 50000.': -1, ' 50000+.': 1}, inplace=True)
        
    def numerical_scaling(self):
        data_to_scale = self.df[self.cols_to_scale]
        scaler = StandardScaler()
        data_to_scale = scaler.fit_transform(self.df[self.cols_to_scale])
        self.df[self.cols_to_scale] = data_to_scale

    def categorical_encoding(self, scheme: str = 'target'):
        if scheme == 'label':
            encoder = LabelEncoder()
            label_encoded = pd.DataFrame(columns=self.cols_to_encode)
            for col in self.cols_to_encode:
                label_encoded[col] = encoder.fit_transform(self.df[col])
            self.df[self.cols_to_encode] = label_encoded

        elif scheme == 'target':
            encoder = TargetEncoder(cols=self.cols_to_encode)
            encoder.fit(X=self.df[self.cols_to_encode], y=self.df['target'])
            self.df[self.cols_to_encode] = encoder.transform(self.df[self.cols_to_encode])

        else:
            print('Scheme input incorrect. Please input either "label" or "target"')
    
    def get_val_counts(self, cols: List[str]=None, top_n: int = 8):
        if cols is None: cols = self.df.columns
        for col in cols:
                print(f'{col}: \n{self.df[col].value_counts().iloc[:top_n]}\n')

    def examine_cardinality(self, cols: List[str]=None):
        if cols is None: cols = [col for col in self.df.columns if self.df[col].dtypes!='int64']
        cardinality_series = pd.Series(index=cols)
        for col in cols:
            cardinality_series.loc[col] = self.df[col].nunique()
        print(cardinality_series.sort_values(ascending=False))

    def split_X_y(self, phase: str):
        setattr(self, f'y_{phase}', self.df['target'])
        setattr(self, f'X_{phase}', self.df.drop('target', axis=1))

    def apply_all(self, phase: str, encoding_scheme: str = 'target'):  #####TODO: add all methods to this method
        self.create_dataframe()
        if self.metadata is None: self.inhale_metadata()
        self.get_col_names()
        self.set_col_names()
        self.feature_engineering()
        self.numerical_scaling()
        self.categorical_encoding(encoding_scheme)
        self.split_X_y(phase)
        self.pickle_data(phase)

    def pickle_data(self, phase: str):
        if 'pickles' not in os.listdir(os.getcwd()):
            os.mkdir('./pickles')

        for df in ['X', 'y']:
            with open(f'./pickles/{df}_{phase}.obj', 'wb') as f:
                pickle.dump(getattr(self, f'{df}_{phase}'), f)

In [49]:
train_data = DataPrep('./census_data/census_income_learn.csv')

In [50]:
train_data.create_dataframe(print_=True)

   0                                1   2   3                            4   \
0  73                  Not in universe   0   0         High school graduate
1  58   Self-employed-not incorporated   4  34   Some college but no degree
2  18                  Not in universe   0   0                   10th grade

   5                 6               7                             8   \
0   0   Not in universe         Widowed   Not in universe or children
1   0   Not in universe        Divorced                  Construction
2   0       High school   Never married   Not in universe or children

                                     9   ...              32              33  \
0                       Not in universe  ...   United-States   United-States
1   Precision production craft & repair  ...   United-States   United-States
2                       Not in universe  ...         Vietnam         Vietnam

               34                                    35 36                37  \
0   United-States     Native- Born in the United States  0   Not in universe
1   United-States     Native- Born in the United States  0   Not in universe
2         Vietnam   Foreign born- Not a citizen of U S   0   Not in universe

   38  39  40         41
0   2   0  95   - 50000.
1   2  52  94   - 50000.
2   2   0  95   - 50000.

[3 rows x 42 columns]

In [51]:
train_data.inhale_metadata()
train_data.get_col_names(print_=True)

['age', 'class of worker', 'detailed industry recode', 'detailed occupation recode', 'education', 'wage per hour', 'enroll in edu inst last wk', 'marital stat', 'major industry code', 'major occupation code', 'race', 'hispanic origin', 'sex', 'member of a labor union', 'reason for unemployment', 'full or part time employment stat', 'capital gains', 'capital losses', 'dividends from stocks', 'tax filer stat', 'region of previous residence', 'state of previous residence', 'detailed household and family stat', 'detailed household summary in household', 'instance weight', 'migration code-change in msa', 'migration code-change in reg', 'migration code-move within reg', 'live in this house 1 year ago', 'migration prev res in sunbelt', 'num persons worked for employer', 'family members under 18', 'country of birth father', 'country of birth mother', 'country of birth self', 'citizenship', 'own business or self employed', "fill inc questionnaire for veteran's admin", 'veterans benefits', 'weeks worked in year', 'year', 'target']

In [52]:
train_data.set_col_names(print_=True)

   age                  class of worker  detailed industry recode  \
0   73                  Not in universe                         0
1   58   Self-employed-not incorporated                         4
2   18                  Not in universe                         0
3    9                  Not in universe                         0
4   10                  Not in universe                         0

   detailed occupation recode                    education  wage per hour  \
0                           0         High school graduate              0
1                          34   Some college but no degree              0
2                           0                   10th grade              0
3                           0                     Children              0
4                           0                     Children              0

  enroll in edu inst last wk    marital stat           major industry code  \
0            Not in universe         Widowed   Not in universe or children
1            Not in universe        Divorced                  Construction
2                High school   Never married   Not in universe or children
3            Not in universe   Never married   Not in universe or children
4            Not in universe   Never married   Not in universe or children

                  major occupation code  ... country of birth father  \
0                       Not in universe  ...           United-States
1   Precision production craft & repair  ...           United-States
2                       Not in universe  ...                 Vietnam
3                       Not in universe  ...           United-States
4                       Not in universe  ...           United-States

  country of birth mother country of birth self  \
0           United-States         United-States
1           United-States         United-States
2                 Vietnam               Vietnam
3           United-States         United-States
4           United-States         United-States

                            citizenship own business or self employed  \
0     Native- Born in the United States                             0
1     Native- Born in the United States                             0
2   Foreign born- Not a citizen of U S                              0
3     Native- Born in the United States                             0
4     Native- Born in the United States                             0

  fill inc questionnaire for veteran's admin  veterans benefits  \
0                            Not in universe                  2
1                            Not in universe                  2
2                            Not in universe                  2
3                            Not in universe                  0
4                            Not in universe                  0

   weeks worked in year  year     target
0                     0    95   - 50000.
1                    52    94   - 50000.
2                     0    95   - 50000.
3                     0    94   - 50000.
4                     0    94   - 50000.

[5 rows x 42 columns]

In [53]:
train_data.feature_engineering()

In [54]:
train_data.get_val_counts()

age:
34    3489
35    3450
36    3353
31    3351
33    3340
5     3332
4     3318
3     3279
Name: age, dtype: int64

class of worker:
 Not in universe                   100245
 Private                            72028
 Self-employed-not incorporated      8445
 Local government                    7784
 State government                    4227
 Self-employed-incorporated          3265
 Federal government                  2925
 Never worked                         439
Name: class of worker, dtype: int64

detailed industry recode:
0     100684
33     17070
43      8283
4       5984
42      4683
45      4482
29      4209
37      4022
Name: detailed industry recode, dtype: int64

detailed occupation recode:
0     100684
2       8756
26      7887
19      5413
29      5105
36      4145
34      4025
10      3683
Name: detailed occupation recode, dtype: int64

education:
 High school graduate                      48407
 Children                                  47422
 Some college but no degree                27820
 Bachelors degree(BA AB BS)                19865
 7th and 8th grade                          8007
 10th grade                                 7557
 11th grade                                 6876
 Masters degree(MA MS MEng MEd MSW MBA)     6541
Name: education, dtype: int64

wage per hour:
0       188219
500        734
600        546
700        534
800        507
1000       386
425        376
900        336
Name: wage per hour, dtype: int64

enroll in edu inst last wk:
 Not in universe          186943
 High school                6892
 College or university      5688
Name: enroll in edu inst last wk, dtype: int64

marital stat:
 Never married                      86485
 Married-civilian spouse present    84222
 Divorced                           12710
 Widowed                            10463
 Separated                           3460
 Married-spouse absent               1518
 Married-A F spouse present           665
Name: marital stat, dtype: int64

major industry code:
 Not in universe or children          100684
 Retail trade                          17070
 Manufacturing-durable goods            9015
 Education                              8283
 Manufacturing-nondurable goods         6897
 Finance insurance and real estate      6145
 Construction                           5984
 Business and repair services           5651
Name: major industry code, dtype: int64

major occupation code:
 Not in universe                          100684
 Adm support including clerical            14837
 Professional specialty                    13940
 Executive admin and managerial            12495
 Other service                             12099
 Sales                                     11783
 Precision production craft & repair       10518
 Machine operators assmblrs & inspctrs      6379
Name: major occupation code, dtype: int64

race:
 White                          167365
 Black                           20415
 Asian or Pacific Islander        5835
 Other                            3657
 Amer Indian Aleut or Eskimo      2251
Name: race, dtype: int64

hispanic origin:
 All other                    171907
 Mexican-American               8079
 Mexican (Mexicano)             7234
 Central or South American      3895
 Puerto Rican                   3313
 Other Spanish                  2485
 Cuban                          1126
 NA                              874
Name: hispanic origin, dtype: int64

sex:
 Female    103984
 Male       95539
Name: sex, dtype: int64

member of a labor union:
 Not in universe    180459
 No                  16034
 Yes                  3030
Name: member of a labor union, dtype: int64

reason for unemployment:
 Not in universe          193453
 Other job loser            2038
 Re-entrant                 2019
 Job loser - on layoff       976
 Job leaver                  598
 New entrant                 439
Name: reason for unemployment, dtype: int64

full or part time employment stat:
 Children or Armed Forces              123769
 Full-time schedules                    40736
 Not in labor force                     26808
 PT for non-econ reasons usually FT      3322
 Unemployed full-time                    2311
 PT for econ reasons usually PT          1209
 Unemployed part- time                    843
 PT for econ reasons usually FT           525
Name: full or part time employment stat, dtype: int64

dividends from stocks:
0       178382
100       1148
500       1030
1000       894
200        866
50         832
2000       574
250        555
Name: dividends from stocks, dtype: int64

tax filer stat:
 Nonfiler                        75094
 Joint both under 65             67383
 Single                          37421
 Joint both 65+                   8332
 Head of household                7426
 Joint one under 65 & one 65+     3867
Name: tax filer stat, dtype: int64

region of previous residence:
 Not in universe    183750
 South                4889
 West                 4074
 Midwest              3575
 Northeast            2705
 Abroad                530
Name: region of previous residence, dtype: int64

state of previous residence:
 Not in universe    183750
 California           1714
 Utah                 1063
 Florida               849
 North Carolina        812
 ?                     708
 Abroad                671
 Oklahoma              626
Name: state of previous residence, dtype: int64

detailed household and family stat:
 Householder                                        53248
 Child <18 never marr not in subfamily              50326
 Spouse of householder                              41695
 Nonfamily householder                              22213
 Child 18+ never marr Not in a subfamily            12030
 Secondary individual                                6122
 Other Rel 18+ ever marr not in subfamily            1956
 Grandchild <18 never marr child of subfamily RP     1868
Name: detailed household and family stat, dtype: int64

detailed household summary in household:
 Householder                             75475
 Child under 18 never married            50426
 Spouse of householder                   41709
 Child 18 or older                       14430
 Other relative of householder            9703
 Nonrelative of householder               7601
 Group Quarters- Secondary individual      132
 Child under 18 ever married                47
Name: detailed household summary in household, dtype: int64

migration code-change in msa:
 ?                   99696
 Nonmover            82538
 MSA to MSA          10601
 NonMSA to nonMSA     2811
 Not in universe      1516
 MSA to nonMSA         790
 NonMSA to MSA         615
 Abroad to MSA         453
Name: migration code-change in msa, dtype: int64

migration code-change in reg:
 ?                                99696
 Nonmover                         82538
 Same county                       9812
 Different county same state       2797
 Not in universe                   1516
 Different region                  1178
 Different state same division      991
 Abroad                             530
Name: migration code-change in reg, dtype: int64

migration code-move within reg:
 ?                              99696
 Nonmover                       82538
 Same county                     9812
 Different county same state     2797
 Not in universe                 1516
 Different state in South         973
 Different state in West          679
 Different state in Midwest       551
Name: migration code-move within reg, dtype: int64

live in this house 1 year ago:
 Not in universe under 1 year old    101212
 Yes                                  82538
 No                                   15773
Name: live in this house 1 year ago, dtype: int64

migration prev res in sunbelt:
 ?                  99696
 Not in universe    84054
 No                  9987
 Yes                 5786
Name: migration prev res in sunbelt, dtype: int64

num persons worked for employer:
0    95983
6    36511
1    23109
4    14379
3    13425
2    10081
5     6035
Name: num persons worked for employer, dtype: int64

family members under 18:
 Not in universe           144232
 Both parents present       38983
 Mother only present        12772
 Father only present         1883
 Neither parent present      1653
Name: family members under 18, dtype: int64

country of birth father:
 United-States         159163
 Mexico                 10008
 ?                       6713
 Puerto-Rico             2680
 Italy                   2212
 Canada                  1380
 Germany                 1356
 Dominican-Republic      1290
Name: country of birth father, dtype: int64

country of birth mother:
 United-States    160479
 Mexico             9781
 ?                  6119
 Puerto-Rico        2473
 Italy              1844
 Canada             1451
 Germany            1382
 Philippines        1231
Name: country of birth mother, dtype: int64

country of birth self:
 United-States    176989
 Mexico             5767
 ?                  3393
 Puerto-Rico        1400
 Germany             851
 Philippines         845
 Cuba                837
 Canada              700
Name: country of birth self, dtype: int64

citizenship:
 Native- Born in the United States              176992
 Foreign born- Not a citizen of U S              13401
 Foreign born- U S citizen by naturalization      5855
 Native- Born abroad of American Parent(s)        1756
 Native- Born in Puerto Rico or U S Outlying      1519
Name: citizenship, dtype: int64

own business or self employed:
0    180672
2     16153
1      2698
Name: own business or self employed, dtype: int64

fill inc questionnaire for veteran's admin:
 Not in universe    197539
 No                   1593
 Yes                   391
Name: fill inc questionnaire for veteran's admin, dtype: int64

veterans benefits:
2    150130
0     47409
1      1984
Name: veterans benefits, dtype: int64

weeks worked in year:
0     95983
52    70314
40     2790
50     2304
26     2268
48     1806
12     1780
30     1378
Name: weeks worked in year, dtype: int64

year:
94    99827
95    99696
Name: year, dtype: int64

target:
-1    187141
 1     12382
Name: target, dtype: int64

capital_change:
 0        188238
 15024       788
 7688        609
 7298        582
-1902        407
 99999       390
-1977        381
-1887        364
Name: capital_change, dtype: int64

In [55]:
train_data.examine_cardinality()

state of previous residence                   51.0
country of birth self                         43.0
country of birth mother                       43.0
country of birth father                       43.0
detailed household and family stat            38.0
major industry code                           24.0
education                                     17.0
major occupation code                         15.0
migration code-move within reg                10.0
hispanic origin                               10.0
migration code-change in msa                  10.0
class of worker                                9.0
migration code-change in reg                   9.0
detailed household summary in household        8.0
full or part time employment stat              8.0
marital stat                                   7.0
reason for unemployment                        6.0
region of previous residence                   6.0
tax filer stat                                 6.0
race                                           5.0
citizenship                                    5.0
family members under 18                        5.0
migration prev res in sunbelt                  4.0
member of a labor union                        3.0
live in this house 1 year ago                  3.0
enroll in edu inst last wk                     3.0
fill inc questionnaire for veteran's admin     3.0
sex                                            2.0
dtype: float64

In [47]:
train_data.df['age'].dtypes == 'int64'

True

In [36]:
train_data.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 40 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   age                                         199523 non-null  int64
 1   class of worker                             199523 non-null  object
 2   detailed industry recode                    199523 non-null  int64
 3   detailed occupation recode                  199523 non-null  int64
 4   education                                   199523 non-null  object
 5   wage per hour                               199523 non-null  int64
 6   enroll in edu inst last wk                  199523 non-null  object
 7   marital stat                                199523 non-null  object
 8   major industry code                         199523 non-null  object
 9   major occupation code                       199523 non-null  object
 10  race                                        199523 non-null  object
 11  hispanic origin                             199523 non-null  object
 12  sex                                         199523 non-null  object
 13  member of a labor union                     199523 non-null  object
 14  reason for unemployment                     199523 non-null  object
 15  full or part time employment stat           199523 non-null  object
 16  dividends from stocks                       199523 non-null  int64
 17  tax filer stat                              199523 non-null  object
 18  region of previous residence                199523 non-null  object
 19  state of previous residence                 199523 non-null  object
 20  detailed household and family stat          199523 non-null  object
 21  detailed household summary in household     199523 non-null  object
 22  migration code-change in msa                199523 non-null  object
 23  migration code-change in reg                199523 non-null  object
 24  migration code-move within reg              199523 non-null  object
 25  live in this house 1 year ago               199523 non-null  object
 26  migration prev res in sunbelt               199523 non-null  object
 27  num persons worked for employer             199523 non-null  int64
 28  family members under 18                     199523 non-null  object
 29  country of birth father                     199523 non-null  object
 30  country of birth mother                     199523 non-null  object
 31  country of birth self                       199523 non-null  object
 32  citizenship                                 199523 non-null  object
 33  own business or self employed               199523 non-null  int64
 34  fill inc questionnaire for veteran's admin  199523 non-null  object
 35  veterans benefits                           199523 non-null  int64
 36  weeks worked in year                        199523 non-null  int64
 37  year                                        199523 non-null  int64
 38  target                                      199523 non-null  int64
 39  capital_change                              199523 non-null  int64
dtypes: int64(12), object(28)
memory usage: 60.9+ MB

In [9]:
train_data.numerical_scaling()
train_data.df.head(3)

,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,major occupation code,...,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,target,capital_change
0,1.725879,Not in universe,0,0,High school graduate,-0.201629,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,-0.949346,95,-1,-0.084396
1,1.053560,Self-employed-not incorporated,4,34,Some college but no degree,-0.201629,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,1.180804,94,-1,-0.084396
2,-0.739291,Not in universe,0,0,10th grade,-0.201629,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,-0.949346,95,-1,-0.084396

In [10]:
train_data.categorical_encoding()
train_data.df.head(3)

,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,major occupation code,...,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,target,capital_change
0,1.725879,-0.981964,-0.982003,-0.982003,-0.922367,-0.201629,-0.867853,-0.936921,-0.982003,-0.982003,...,-0.870538,-0.874015,-0.874017,-0.884299,-0.876976,-0.838127,-0.949346,-0.868741,-1,-0.084396
1,1.053560,-0.741859,-0.821858,-0.851925,-0.871531,-0.201629,-0.867853,-0.832258,-0.821858,-0.818407,...,-0.870538,-0.874015,-0.874017,-0.884299,-0.876976,-0.838127,1.180804,-0.883018,-1,-0.084396
2,-0.739291,-0.981964,-0.982003,-0.982003,-0.983591,-0.201629,-0.998549,-0.974169,-0.982003,-0.982003,...,-0.953488,-0.943734,-0.926573,-0.884299,-0.876976,-0.838127,-0.949346,-0.868741,-1,-0.084396

In [11]:
train_data.split_X_y('train')

In [12]:
train_data.y_train

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
199518   -1
199519   -1
199520   -1
199521   -1
199522   -1
Name: target, Length: 199523, dtype: int64

In [13]:
train_data.pickle_data(phase='train')

In [14]:
test_data = DataPrep('./census_data/census_income_test.csv')
test_data.apply_all(phase='test')